/sbcsdat.c
/*.o
/ipbt
/build.log
/build.out
/ipbt.1
/ipbt.html
/configure
/Makefile.in
/Makefile
/autom4te.cache
/aclocal.m4
/depcomp
/.deps
/config.status
/config.log
/stamp-h1
/missing
/install-sh
/compile
